.boat-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.boat-childeren{
   flex-basis: 40em;
   border-radius: 10px;
   align-self:  center;
   border: 3px solid #4D6E82;
}

.boat-images{
  text-align: center;
}

.boatName {
  color: #731224;
  text-align: center;
}
.boatName a:visited {
  color: #731224;
}

a:link{
  color: #731224;
}
