nav{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: maroon;
}

li{
  float: left;
  border-right: 1px solid white;
}

li a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active){
  background-color: #d0c9cb;
}

.userTag{
  position: absolute;
  left: 853px;
  top: 8px;
  text-align: center;
  color: white;
  font-size: 17;
  font-weight: bold;
  word-spacing: 2px;
  width: 280px;
  height: 28px;
  border: 4px double black;
  padding-top: 10px;
}
