
nav{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: maroon;
}

li{
  float: left;
  border-right: 1px solid white;
}

li a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.userTag{
  position: absolute;
  left: 853px;
  top: 8px;
  text-align: center;
  color: white;
  font-size: 20px;
  font-weight: bold;
  word-spacing: 2px;
  width: 280px;
  height: 30px;
  border: 4px double black;
  padding-top: 8px;
}

#copywrite{
  position: relative;
  top: 50px;
}

footer{
    width: 100%;
    height: 100px;
    position: fixed;
    bottom: 0px;
    background-image: url("/assets/waves-312449_12803.png");
  }​



  li a:hover:not(.active){
    background-color: #d0c9cb;
  }
